@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine,Dnipro<br />
    Osennya str, 7<br />
    <abbr title="Phone">P:</abbr>
    +380972286727
</address>

<address>
    <strong>Mail to:</strong>   <a href="mailto:vkabanov1978@gmail.com">vkabanov1978@gmail.com</a><br />
</address>